@model ENAE202409018.Dtos.ProductDTOs.EditProductDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>EditProductDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreENAE" class="control-label"></label>
                <input asp-for="NombreENAE" class="form-control" />
                <span asp-validation-for="NombreENAE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionENAE" class="control-label"></label>
                <input asp-for="DescripcionENAE" class="form-control" />
                <span asp-validation-for="DescripcionENAE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioENAE" class="control-label"></label>
                <input asp-for="PrecioENAE" class="form-control" />
                <span asp-validation-for="PrecioENAE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
